@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Nancy.Web.BaseModel>
@{
	Layout = "master.cshtml";
}

<div class="row">
	<div class="span8 offset2 text-center">
		<div class="form-search">
			<input type="text" class="input-xlarge" name="search" placeholder="Type keywords for search..." />
			<a href="#" class="btn btn-success"><i class="icon-search icon-white"></i> Search</a>
		</div>
	</div>

</div>
