@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@using SquishIt.Framework

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NancyApplication2</title>
	
	@Html.Raw(Bundle.Css().RenderNamed("public-css"))

</head>
<body>
<div class="container">

	<div class="row">
		<div class="span8 offset2 text-center">
			<img src="/Content/nancy-logo.png" alt="Nancy logo" /><br />
		</div>
	</div>
	
	@RenderBody()


</div>
	
</body>
</html>
